<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GetMyIP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <GetMyIP.Properties.Settings>
            <setting name="Warning" serializeAs="String">
              <value>DO NOT CHANGE URL SETTING VALUE</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value>http://ip-api.com/json/?fields=status,message,country,regionName,city,zip,lat,lon,timezone,isp,query</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShadeAltRows" serializeAs="String">
                <value>False</value>
            </setting>

        </GetMyIP.Properties.Settings>
    </userSettings>
</configuration>